<div class="popup">
  <div class="titulo">
      <div class="d-flex justify-content-between ">
        <div class="">
          <ul>
            <li><a href="#">Los mas pedidos*</a></li>
            <li><a href="#">En aceites y Conservas</a></li>
            <li><a href="#">Pasta</a></li>
            <li><a href="#">Embutidos</a></li>
            <li><a href="#">Platos Frios</a></li>
            <li><a href="#">Vinos Locales</a></li>
            <li><a href="#">Cervezas Artesanales</a></li>
            <li><a href="#">Nuestros Panes</a></li>
            <li><a href="#">Quesos Locales</a></li>
          </ul>
        </div>
        <div class="">
          <ul>
            <li><a href="#">Menú de Día</a></li>
            <li><a href="#">Menú Degustación</a></li>
            <li><a href="#">Solo en Tienda</a></li>
            <li><a href="#">Eventos privados</a></li>
            <li><a href="#">Reservar</a></li>
            <li><a href="#"> </a></li>
          </ul>
        </div>
        <div class="">
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#">Blog: Temporada</a></li>
            <li><a href="#">Tarjetas regalo</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Únete al equipo</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>
