<div class="newsletter-section">
  <div class="newsletter-content">
    <!--izquierdo-->
    <div class="newsletter-text text-start">
      <h2>Nuestros Eventos de Temporada</h2>
      <p>Nuevos productores locales y eventos especiales en cada temporada.</p>
      <button class="newsletter-btn">Apuntate</button>
    </div>

    <!--derecho-->
    <!--imagen-->
    <div class="newsletter-image">
      <img src="assets/img/Eventos.png" alt="Eventos">
    </div>
  </div>
  <div class="newsletter-content">
    <!--dereche-->
    <div class="newsletter-image">
      <img src="assets/img/producion.jpg" alt="Cocina">
    </div>

    <div class="newsletter-text text-end">
      <h2>Nuestros Productores</h2>
      <p>Conoce a las personas detrás de cada ingrediente.</p>
      <button class="newsletter-btn">leer</button>
    </div>

</div>

</div>
