# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log

# Django
media/
staticfiles/
collected_static/

# Entorno
.env

# Angular
node_modules/
dist/
.angular/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db