<div class="footer">

  <div class="container-footer text-white">
    <div class="row">
      <div class="col-md-4">
          <img src="../../../../../assets/img/logoblanco.png">
      </div>

      <div class="col-md-5 offset-md-2">
        <p class="footer-intro">En Temporada apostamos por lo local y lo natural. Trabajamos con productores de la zona,
        reduciendo la huella de carbono y garantizando frescura en cada plato.<br>Gracias a ti,
        desde 2025 hemos apoyado a más de 20 productores locales y evitado miles de kilómetros
        de transporte innecesario.</p>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4 ">
        <h3>Mantente Informado</h3>
        <p>Suscríbete para recibir ofertas y novedades</p>
        <div class="newsletter-form">
          <input type="email" placeholder="Email" class="email-input">
          <button class="subscribe-btn">Suscribir</button>
        </div>
      </div>
      <div class="col-md-2 offset-md-2">
        <h4>Nosotros</h4>
        <ul>
          <li><a href="#">Nuestra Historia</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Prensa</a></li>
          <li><a href="#">Trabaja con nosotros</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Síguenos</h4>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">TikTok</a></li>
          <li><a href="#">Facebook</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Información</h4>
        <ul>
          <li><a href="#">Cuenta</a></li>
          <li><a href="#">Ubicaciones</a></li>
          <li><a href="#">Devoluciones</a></li>
          <li><a href="#">Privacidad</a></li>
          <li><a href="#">Términos</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

