<div class="header">
  <div class="row align-items-center">

    <div class="col d-flex justify-content-start">
      <button type="button" class="btn-menu" (click)="cambiarEstadoMenu()">
        <span></span>
        Menú
      </button>
    </div>

    <div class="col d-flex justify-content-center">
      <a routerLink="/">
        <img class="img-logo" src="../../../../../assets/img/logo.png" alt="Temporada">
      </a>
    </div>

    <div class="col d-flex justify-content-end gap-4 me-3">
      <button class="icon-btn" routerLink="/carta" title="Carta">
        <i class="bi bi-search fs-5"></i>
      </button>
      <button class="icon-btn" routerLink="/carta" title="Carrito">
        <i class="bi bi-cart-fill fs-5"></i>
      </button>
      <button class="icon-btn" routerLink="/cuenta" title="Mi cuenta">
        <i class="bi bi-person-fill fs-5"></i>
      </button>
    </div>

  </div>
</div>

@if (openMenu()) {
  <app-menu (openMenuDesdeHeader)="cambiarEstadoMenu()"></app-menu>
}
