/*imagenes productos compra*/
.product-scroll {
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
}

.product-item {
  min-width: 300px;
  flex-shrink: 0;
}

.product-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
/* over flow flechas*/
.carousel-wrapper {
  position: relative;
  padding: 0 60px;
  background-color: transparent;
}

.product-container {
  overflow-x: hidden;  /*cultar el contenido*/
  scroll-behavior: smooth;  /* scroll suave en lugar de que sea brusco */

}
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #6B8E23;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  cursor: pointer;
  z-index: 10;
;
}

.carousel-btn:hover {
  color: #5A7A1F;  /*color más oscuro al hover */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
